{% extends 'layout.html.twig' %}
{% block title 'Upload an Image' %}
    {# redefine the class of a block - review the default layout  #}
    {% block uploadMenu 'class="nav-item active"' %}
        {% block galleryMenu %}class="nav-item"{% endblock %}

        {% block body %}
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-md-10">
                    <h2>Upload an Image</h2>
                    <p>Choose an image to upload to the gallery.</p>
                    <form enctype="multipart/form-data" action="{{ app.url_generator.generate('upload_post') }}" method="POST" class="form-inline" role="form">
                        <div class="row">
                            <div class="col-sm-8">
                                <input name="image" type="file" class="form-control"/>
                            </div>
                            <div class="col-sm-4">
                                <button type="submit" class="btn btn-primary" data-loading-text="Uploading ..." id="submit">Initiate Upload &raquo;</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        {% endblock body %}